body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.search-bar {
  margin: 25px 0 0;
  margin-left: 82%;
  width: 250px;
}

.search-bar input {
  padding: 12px 0 12px 19px;
  outline: 0;
  border-radius: 10px;
  font-size: 16px;
  border: 0.8px solid #f802027f;
  /* box-shadow: 0 0 8px #f802024f; */
}

.search-bar input:hover {
border: 0.8px solid #fff;
  box-shadow: 0 0 8px 2px #f802024f;
}
.buttons {
  margin: 20px auto;
  text-align: center;
}

.buttons button {
  background-color: #ff0000;
  /* background-color: #4CAF50; */
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 20px;
  cursor: pointer;
  border-radius: 50px;
  outline: 0;
  border: 0;
}

button:hover {
  background-color: #ff0000a5;
  transition: background-color 0.8s ease;
}

.clothing-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  animation: fadeIn 0.5s forwards;
}

.clothing-item {
  width: 250px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #cccccc70;
  border-radius: 5px;
  text-align: center;
  transition: transform 0.3s ease;
  box-shadow: inset 0 0 4px #ccccccad;
}

.clothing-item:hover {
  box-shadow: 1px 1px 8px 2px #0000005c, -1px -1px 8px 2px #00000000;
  transform: translateY(-5px);
}

.clothing-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
